*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background: #1A0B2E;
}
/* header */
header nav{
    height: 92px;
    max-width: 1600px;
    width: 100%;
    margin: 16px auto;
    background-color: #1A0B2E;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    color: #ffff;
}
header nav h1 #logo{
    color: #ffff;
    text-decoration: none;
}
nav .menu{
    width: 218px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu a{
    color: #ffff;
    text-decoration: none;
}
.prime-btn{
    background: linear-gradient(
        45deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    border: none;
    border-radius: 10000px;
    width: 135px;
    height: 44px;
    gap: 4px;
    font-size: auto;
    font-weight: 600;
    color: #ffff;
}
header nav .fa-solid{
    display: none;
}

/* hero-section */
.hero-section{
    height: 760px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/hero-bg.png);
    margin: 0px auto;
    
}
.continer{
    height: 552px;
    width: 550px;
    position: relative;
}
.redio-png{
     position: relative;
}
.new{
    padding: 8px 16px;
    border-radius: 1000px;
    background-color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    top: 0%;
    left: 63%;
    z-index: 2;
}
.radio{
    height: 350px;
    max-width: 350px;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/hero-circle.png);
    position:absolute;
    top: 4%;
    left: 18%;
}
.hero-info{
    max-width: 550px;
    width: 100%;
    height: 168px;
    text-align: center;
    color: #ffff;
    position: absolute;
    top: 70%;
    left: 0%;
}
.hero-info h1{
    margin-bottom: 8px;
}
.hero-info p{
    margin-bottom: 24px;
}
.spotyfi{
    height: 44px;
    width: 201px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(
        47deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    font-weight: 500;
    font-size: 1rem;
    color: #ffff;
}
.mail{
    width: 147px;
    height: 44px;
    border-radius: 1000px;
    background: none;
    color: #00FF88;
    border:2px solid #00FF88;
    font-size: 1rem;
    font-weight: 500;
    gap: 8px;
}
/* section-2 */
.info-1{
    max-width: 1200px;
    width: 100%;
    background-color: #1A0B2E;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.about-podcust{
    color: #ffff;
    text-align: center;
    margin-bottom: 160px;
}
.about-podcust h2{
    margin-bottom: 16px;
    font-size: 2rem;
}
.about-podcust p{
    margin-bottom: 32px;
}
.podcust-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    max-width: 1200px;
    width: 100%;
}
.card{
    text-align: center;
}
.card h2{
    color: #00FF88;
    margin-bottom: 16px;
    font-size: 2rem;
}
.card p{
    color: #ffff;
}
/* section -3 */

.grid{
    text-align: center;
    margin: 50px auto;
    max-width: 1600px;
    width: 100%;
    padding: 100px;
    background-color: #230E3D;
}
.heading-grid{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid h2{
    font-size: 2rem;
    color: #ffff;
}
.grid-temp{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.grid-card1{
    text-align: start;
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 40px;
    background-color: #1a0b2e9f;
    padding: 40px;
    color: #fff;
}
.grid-card1 img{
    margin-top: 107px;
}
.grid-card1 #grid-card1{
    font-size: 1.3rem;
    margin-top:16px;
}
.grid-card1 p{
    margin-top: 16px;
}
.grid-card3{
    grid-column: span 5;
    grid-row: span 1;
    text-align: start;
    background-color: #1a0b2e9f;
    padding: 40px;
    color: #fff;
    border-radius: 40px;
}
.grid-card3 img{
    margin-top: 40px;
}
.grid-card3 h3{
    font-size: 1.3rem;
    margin: 16px 0px;
}

.grid-card4{
    grid-column: span 5;
    grid-row: span 1;
    border-radius: 40px;
    padding: 40px;
    color: #fff;
    text-align: start;
    background-color: #1a0b2e9f;
}
.grid-card4 i{
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 3.5rem;
}
.grid-card4 h3{
    margin-bottom: 16px;
    font-size: 1.3rem;
}
.grid-card{
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 40px;
    padding: 40px;
    color: #fff;
    text-align: start;
    background-color:#1a0b2e9f;
}
.grid-card img{
    margin-top: 40px;
    margin-bottom: 16px;
}
.grid-card h3{
    font-size: 1.3rem;
    margin-bottom: 16px;
}
/* section-5 */

.i-fream{
    max-width: 1600px;
    margin: 0px auto;
}
.i-fream h2{
    color: #fff;
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 2rem;
    text-align: center;
}
.featurd{
    max-width: 1200px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 .frem{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    color: #fff;
    max-width: 380px;
    width: 100%;
    height: 440px;
    background-color: #250D44;
    border-radius: 10px;
    overflow: hidden;
}
.frem h3{
    margin-top: 24px;
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 12px;
}
.frem p{
    margin-bottom: 12px;
}
.frem h4{
    color: #00FF88;
}
.time{
    display: flex;
    gap: 8px;
    align-items: center;
}

.meet-host{
    margin: 50px auto;
}
.meet-host h2{
    text-align: center;
}
.meet-host .h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}
.host-info{
    width: 896px;
    height: 183px;
}
.host-info h3{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 16px;
}
.host-info p{
    color: #fff;
    margin-bottom: 16px;
}
.sochal{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.linkedin{
    height: 40px;
    width: 40px;
    border: 1px solid #76707d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

footer{
    background-image:url(assets/footer-bg.png) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 412px;
    margin: 120px auto 0px;
    max-width: 1600px;
    width: 100%;
}
footer h1 {
    font-size: 3rem;
    color: #fff;
}
footer h1 a{
    text-decoration: none;
    color: #ffff;
}
.sochal-links a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
.sochal-links{
    width: 544px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sochal-links img{
    margin-top: 4px;
}
.copywright p{
    color: #fff;
}
.t{
    /* width: 100px; */
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.t img{
    width: 20px;
    height: auto;
}
#logo{
    background: linear-gradient(
        47deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}
.copywright p{
    color: #e0e0e0;
}

/* responsive */
@media screen and (max-width:576px) {
      body{
        width: 576px;
      }
    header nav {
        max-width: 576px;
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu a{
        display: none;
    }
    .prime-btn{
        display: none;
    }
    nav #bar{
        display: block;
        font-size: 2rem;
        color: #fff;
    }
    /* hero-section */
    .hero-section{
    height: 466px;
    max-width: 576px;
    width: 100%;
    background-image: url(assets/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.continer{
    height: 100%;
    width: 100%;
    position: relative;
}
.new{
    position: absolute;
    margin-top: 60px;
    left:60%;
}

.radio{
    height: 200px;
    width: 200px;
    background: linear-gradient(
        47deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    margin-top: 40px;
    margin-left: 80px;
}
.radio img{
    height: 100px;
    width: 70px;
}
.hero-info{
    max-width: 576px;
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffff;
    position: absolute;
}
.hero-info h1{
    margin-bottom: 8px;
}
.hero-info p{
    margin-bottom: 24px;
}
.spotyfi{
    height: 44px;
    width: 201px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(
        47deg,
        #F7E93F,
        #FB09B4,
        #9100F8
    );
    font-weight: 500;
    font-size: 1rem;
    color: #ffff;
}
.mail{
    width: 147px;
    height: 44px;
    border-radius: 1000px;
    background: none;
    color: #00FF88;
    border:2px solid #00FF88;
    font-size: 1rem;
    font-weight: 500;
    gap: 8px;
}
/* section-3 */
.info-1{
    min-height: 575px;
    height: 100%;
    max-width: 576px;
    width: 100%;
    background-color: #1A0B2E;
    margin: 50px auto;
}
.about-podcust{
    margin-bottom: 0px;
}

.podcust-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffff;
    max-width: 576px;
    width: 100%;
    padding: 20px;
}
.card{
    height:84px;
    width: 180px;
    margin-bottom: 40px;
}
/* sectionm-4 */
.grid{
    margin-top: 0px;
    padding: 40px 20px;
}
.grid-temp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.equl{
    border-radius: 5px;
    height:286px;
    width: 350px;
    margin-top: 40px;
}
.grid-card1 img{
    margin-top: 0px;
}
.grid-card1{
    height: 248px;
    width: 400px;
    padding: 29px;
    background-color: #351165;
    border-radius: 24px;
}
.grid-card1 img{
    height: 40px;
    width: 40px;
}
.grid-card3 {
    height: 215px;
    width: 400px;
    padding: 29px;
    border-radius: 24px;
    background-color: #351165;
}
.grid-card3 img{
    margin: 0px;
}
.grid-card3 h3{
    margin: 16px 0px;
}
.grid-card3 p{
    margin: 0px;
}
.grid-card4 i{
    margin-top: 0px;
}
.grid-card4{
    height: 311px;
    width: 400px;
    border-radius: 24px;
    background-color: #351165;
}

/* section-4 */
#h22{
    margin: 40px;
}
.frem{
    margin-bottom: 15px;
    height: 369px;
}
.frem h4{
    margin-bottom: 16px;
}
.frem img{
    margin-bottom: 16px;
}
.featurd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.meet-host h2{
    margin: 60px 0px 24px 0px;
}
.meet-host{
    margin: 50px auto;
}

.meet-host .h{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 576px;
    width: 100%;
    margin: 0px auto;
    background-color: #230E3D;
}
.host-info{
    width: 352px;
    height: 268px;
    text-align: center;
    margin-top: 20px;
}
.host-info h3{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 16px;
}
.host-info p{
    color: #fff;
    margin-bottom: 16px;
}
.sochal{
    margin: 0px auto;
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.host img{
    margin-top: 16px;
}
/* footer */
footer{
    background-image:url(assets/footer-bg.png) ;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 248px;
    max-width: 576px;
    width: 100%;
    margin: 0px;
}

.sochal-links{
    width: 255px;
    height: 64px;
    display: flex;
    flex-wrap: wrap;
}
.copywright p{
    color: #fff;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 40px;
}
}

